@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
 }

 /* ////////  */
.anchor {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.anchorW {
    text-decoration: none;
    color: white;
    font-size: 19px;
}
.beige {
    color: #9e9690;
    font-weight: 800;
}
.big {
    font-size: 20px;
}
.link__hover-effect {
    position: relative;
 }
 .link__hover-effect::after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    left: 0;
    transition: all 300ms ease;
 }
 .link__hover-effect--blue::after {
    background-color: #2B2B2B;
 }
 .link__hover-effect--white::after {
    background-color: #fff;
 }
 .link__hover-effect:hover::after {
    left: 0;
    width: 100%;
 }
    /* //////// */

#landingPage {
    background-color: #4F7344;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}
.header_nav {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    align-items: center;
    width: 100%;
    padding: 20px 80px 10px 80px;
    background-color: #4F7344;

}
 .logo {
    height: 100px;
 }
 .nav_ul {
    display: flex;
    gap: 30px;
 }
 .nav_ul--li {
    display: flex;
 }
 .banner_landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    padding-top: 30px;
 }
 .banner_landing_img {
    width: 100%;
 }
.grid_landing {
   display: flex;
   gap: 100px;
   width: 100%;
   justify-content: center;
   align-items: center;
}
.grid_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    line-height: 1.5;
    color: #fff;
    max-width: 310px;
    gap: 15px;
}
.bolt {
    height: 90px;
}

.button_coctails {
    width: 200px;
    padding: 14px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color:#4F7344;
    font-size: 17px;
    color:#ffffff;
}
.button_coctails:hover {
    background-color: #2B2B2B;
    border: 2px solid #2B2B2B;
    color: #ffffff;
    transition: all ease 300ms;
}
.gap {
    padding-top: 50px;
    padding-bottom: 50px;
}
footer {
    display: flex;
    flex-direction: column;
    background-color: #2B2B2B;
    padding: 60px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.footer_logo {
    font-size: 25px;
    color: #fff;
}
.copyright {
    color: white;
    font-size: 14px;
}



/* //// cocktails //// */

.front_landing {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 5px;
    background-color: #2B2B2B;
    padding: 30px;
}
.search {
    padding: 15px 20px;
    border: 1px solid #2B2B2B;
    border-radius: 10px;
    width: 600px;
    font-size: 16px;
}
.landingh1 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 25px 0;
}
#search-btn {
    padding: 18px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

#result img {
    display: block;
    max-width: 12.5em;
    margin: auto;
}





/* ////// Responsive ////// */
@media(max-width:768px) {
    .hamburger {
        display:none ;

    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav_menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav_ul--li {
        margin: 16px 0;
    }
    .nav_menu.active {
        left: 0; 
    }
    .grid_landing {
        flex-direction: column;
    }
}


.bodys {
    height: 95vh;
}
/* //// APP //// */
.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 65%;
  left: 50%;
  width: 90vw;
  max-width: 37.5em;
  background-color: #2B2B2B;
  padding: 1.8em;
  border-radius: 0.6em;
  box-shadow: 0 1em 3em rgba(2, 9, 38, 0.25);
}
.search-container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1em;
  margin-bottom: 1.2em;
}
.search-container input {
  font-size: 1em;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  color: #1f194c;
  border-bottom: 1.5px solid #4F7344;
  border-radius: 10px;
}
.search-container input:focus {
  border-color: #4F7344;
}
.search-container button {
  font-size: 1em;
  border-radius: 2em;
  background-color: #4F7344;
  border: 1px solid #4F7344;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}
#result {
  color: #fff;
  line-height: 2em;
}
#result img {
  display: block;
  max-width: 14.5em;
  margin: auto;
}
#result h2 {
  font-size: 1.25em;
  margin: 0.8em 0 1.6em 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #fff;
  position: relative;
}
#result h2:before {
  content: "";
  position: absolute;
  width: 15%;
  height: 3px;
  background-color: #4F7344;
  left: 42.5%;
  bottom: -0.3em;
}
#result h3 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0.2em;
  color: #fff;
}
#result ul {
  margin-bottom: 1em;
  margin-left: 1.8em;
  display: grid;
  grid-template-columns: auto auto;
}
#result li {
  margin-bottom: 0.3em;
}
#result p {
  text-align: justify;
  font-weight: 400;
  font-size: 0.95em;
}
.msg {
  text-align: center;
}
@media screen and (max-width: 600px) {
  .container {
    font-size: 14px;
  }
}

  